
*{
    box-sizing: border-box;
}

/* categoriesSection css */
.row{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}


.col{
    /* border: 1px solid red;
    text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 .5em;
}
.num-container{
    height: 50px;
    width: 50px;
    background-color: #dff1fd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.num-container .circle1{
    height: 30px;
    width: 30px;
    border: 1px solid #7dafce;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.num-container .circle1 .circle2{
    height: 26px;
    width: 26px;
    border: 1px solid #7dafce;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.num-container .circle1 .circle2 .number h3{
    color: #7dafce;
    font-size: .95rem;
}
.col h5{
    padding: 0;
    margin: .4em;
    font-weight: 200;
    color: #b8b8b8;
}


.num-container .number h3{
    color: #2874a6;
}
.iit{
    font-size: 1.6rem;
}
.icse_neet_engg,
.govt{
    font-size: .95rem;
}


/* NovelsSection */
.novelsContainer{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.novelsContainer::-webkit-scrollbar{
    width: 0px;
}
.novelBox{
    height: 98px;
    min-width: 230px;
    border-radius: 22px;
    margin-right: 1em;
}
.romance{
    background-image: url('./images/romance.jpg');
    /* object-fit: cover; */
    background-size: cover;
    background-position: 0 80%;
}


.bookshowContainer{
    display: flex;
    overflow-x: auto;
}
.books{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1.2em;
}
.bookimageBox{
    height: 130px;
    width:130px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.bookimageBox img{
    width: 45%;
}
.bookContent{
    width:130px;
}
.bookContent p:nth-child(1){
    font-size: .85rem;
}
.bookContent p:nth-child(2){
    color:#249ae9;
    font-weight: 700;
    font-size: .8rem;
    word-spacing: 3px;
    margin: 0;
}
.bookContent p:nth-child(2) span{
    color: #888787;
    text-decoration:line-through;
}
.bookContent h5{
    margin-top: 4px;
    color:#71a874;
    font-size: .85rem;
}
